.header{
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    background-color: gainsboro;
    border-bottom: 2px solid grey;
}
.container-users{
    margin: 50px auto;
    width: 95%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}
.container-registration, .container-show-users{
    width: 48%;
    height: 100%;
}
.form-users{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.table{
    margin-top: 30px;
    width: 100%;
}