<h1>Play your day!</h1>
<h3>User: Oleg Senkiv. Count of Task {{ countOfTasks }} </h3>
<hr>
<form>
    <input type="text" class="form-control" [(ngModel)]="newTask" name="newTask">
    <button type="button" class="btn btn-success" (click)="addTask()"> Add </button>
</form>
<hr>
<table class="table">
    <thead>
        <th>#</th>
        <th>Task</th>
        <th>Check</th>
        <th>DONE/IN PROGRESS</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr *ngFor="let elem of arrTasks; let i=index">
            <td> {{ i+1 }}  </td>
            <td> {{ elem.task }} </td>
            <td> 
                <input type="checkbox" (click)="checkStatus(i,$event)" [checked]="elem.check" >
            </td>
            <td [style.color]="elem.check? 'green': 'red'">
                <p> {{ elem.status}} </p>
            </td>
            <td>
                <button (click)="editTask(i)" class="btn btn-warning">Edit</button>
            </td>
            <td>
                <button (click)="deleteTask(i)" class="btn btn-danger" [disabled]="!elem.check">Delete</button>
            </td>
        </tr>
        <tr *ngIf="isEditVisible">
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input [(ngModel)]="editTaskInput" name="editTaskInput" type="text" class="form-control">
            </td>
            <td>
                <button (click)="saveTask()" class="btn btn-success">Save</button>
            </td>
        </tr>

    </tbody>
</table>
