
<div class="main ">
    <div class="card" style="width: 25%;">
        <img src="assets/task11.png" class="card-img-top" alt="cenzor">
        <div class="card-body nav nav-pills">
            <a class=" nav-link btn-success form-control" [routerLink]="[ '/works/cenzor']" routerLinkActive="active">Details</a>
        </div>
    </div>

    <div class="card" style="width: 25%;">
        <img src="assets/task12.png" class="card-img-top" alt="users">
        <div class="nav nav-pills card-body ">
            <a class="nav-link btn-success form-control" [routerLink]="[ '/works/userlist']" routerLinkActive="active">Details</a>
        </div>
    </div>

    <div class="card" style="width: 25%;">
        <img src="assets/task13.png" class="card-img-top" alt="task13">
        <div class="card-body nav nav-pills ">
            <a class="nav-link btn-success form-control " [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active">Details</a>
        </div>
    </div>
</div>