*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
.wrapper{
    width: 65%;
    height: 800px;
    border: 10px solid gainsboro;
    border-radius: 25px;
    margin: auto;
}
.keyboard{
    margin: auto;
    width: 95%;
    height: 720px;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* area */
.keyboard__area{
    width: 100%;
    min-height: 250px;
    margin: 10px 0;
    padding: 5px;
    font-size: 30px;
    word-wrap: break-word;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: white;
}

.keyboard__but{
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

button{
    min-width: 6%;
    padding: 10px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
}
.key8, .shift{
    width: 15%;
}
.key9{
    width:11%;
}
.key20, .key13{
    width: 14%;
}

.key32{
    width: 100%;
    height: 100px;
    border-radius: 20px;
}