<!-- <div class="container-title flex-center">
    <h1>List of prohibited words: </h1>
</div> -->
<main class="flex-center">
    <div class="container-search">
        <div class="container-search__inner">
            <div class="container-search__inner__bad-words">
                <div class="container-search__inner__bad-words__title">
                    <h4>Bad words:</h4>
                </div>
                <div class="container-search__inner__bad-words__result">{{ badWords }}</div>
            </div>

            <form name="form-cenzor" class="form-cenzor">
                <input type="text" [class.is-error]="isEmptyIn" [(ngModel)]="words" name="words" class="words bor-radius" placeholder="word here...">
                <input type="button" (click)="btnAdd()" class="btn btn-warning add" value="Add">
                <input type="button" (click)="btnReset()" class="btn btn-danger reset" value="Reset">
                <textarea  [(ngModel)]="result" name="result" [class.is-error]="isEmptyArea" class="result bor-radius" placeholder="Text here..."></textarea>
                <button type="button" (click)="btnCenzor()" name="btnCenzor" class="btn btn-success form-control">Cenzor</button>
            </form>
        </div>
    </div>
</main>
