<header>
  <ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/pizza' ]" routerLinkActive="active">Pizza</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/home']" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/products']" routerLinkActive="active">products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/blog']" routerLinkActive="active">blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/about']" routerLinkActive="active">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/admin']" routerLinkActive="active">admin</a>
    </li>
  </ul>
</header>
