$headBgColor: rgb(255, 147, 128);
$mainBgColor: rgb(78, 181, 212);
$elementBgColor: rgb(131, 196, 216);
$textBgColor: white;
$iconTextColor: white;
$textColor: #333;
$iconSize: 1.5rem;
$iconHoverSize: 2.5rem;
$mainFontSize: 0.9rem;
$mainFontFamily: Arial, sans-serif;
$hoverBd: 0px;