*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 45%;
    height: 90vh;
    border: 30px solid #000;
    border-radius: 20px;
    margin: 20px auto;
    display: flex;

}
/* left */
.main__left{
    width: 50%;
    height: 100%;
    border: 10px solid #000;
    display: flex;
    flex-direction: column;

}
form{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}
.list{
    color: red;
    margin: 10px;
}
input[type=checkbox]{
    width: 30px;
    height: 30px;
    margin: 4px;
}
/* reight */
.main__right{
    width: 50%;
    height: 100%;
    border: 10px solid #000;
}
.add{
    color: red;
    margin: 10px 85px;
}

#add{
    width: 40%;
    height: 60px;
    font-size: 20px;
    margin: 20px 130px;
    background-color: black;
    color: white;
}

.area{
    width: 70%;
    margin: 5px 70px;
    border-top: none;
    font-size: 25px;
}








