@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
body {
    max-width: 980px;
    margin: auto;
    background-color: white;
}
header nav .menu{
    display: flex;
    justify-content: flex-end;

}
.google{
    font-size: 4.0rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.g{
    color: tomato;
}

.o{
    color: teal;
}

.oo{
    color: yellow;
}

.gg{
    color: violet;
}

.l{
    color: green;
}

.e{
    color: maroon;
}
.egypt{
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    justify-content: center;
}
.google_search{
    display: flex;
    justify-content: center;
}
.footer{
    font-family: 'Freckle Face', cursive;
    background-color: gray;
    margin: auto;
    padding: auto;
}
.left{
    display: flex;
    justify-content: flex-start;
}
.right{
    display: flex;
    justify-content: flex-end;
}